.customization-section
	background: #050714
	padding-top 162px
	padding-bottom 120px
	@media screen and (max-width: 854px)
		padding-top 80px
		padding-bottom 30px

.customiz-wrapper
	display flex
	flex-direction row
	justify-content space-between
	@media screen and (max-width: 854px)
		flex-direction column

.customiz-controller
	@media screen and (max-width: 854px)
		margin-bottom 40px
	img
		margin-left -43px
		@media screen and (max-width: 1300px)
			margin-left 0
		@media screen and (max-width: 1200px)
			max-width 88%
		@media screen and (max-width: 854px)
			max-width 400px
		@media screen and (max-width: 540px)
			max-width 100%

.customiz-texts
	max-width 450px
	padding-top 20px
	
	h3
		color: #ffffff
		font-family: fPSB
		font-size: 37px
		margin-bottom 24px
		@media screen and (max-width: 600px)
			font-size 32px
	
	p
		opacity: 0.99
		color: #ffffff
		font-family: fPSL
		font-size: 18px
		line-height: 30px
	
	.button
		margin-top 40px