.costumization-gradient
	position relative
	padding-top 210px
	padding-bottom 70px
	@media screen and (max-width: 991px)
		padding-top 70px !important
		padding-bottom 50px !important
	&:before
		position absolute
		top 0
		left 0
		content ''
		display block
		width 100%
		min-height 690px
		background-image: -webkit-linear-gradient(rgba(14, 22, 69, 0.75) 0%, #050714 100%)
		background-image: -o-linear-gradient(rgba(14, 22, 69, 0.75) 0%, #050714 100%)
		background-image: linear-gradient(rgba(14, 22, 69, 0.75) 0%, #050714 100%)
		@media screen and (max-width: 480px)
			display none

.section--from-shop
	position relative
	padding-top 150px
	padding-bottom 165px
	background-image: -webkit-linear-gradient(335deg, #050714 0%, rgba(14, 22, 69, 0.75) 100%)
	background-image: -o-linear-gradient(335deg, #050714 0%, rgba(14, 22, 69, 0.75) 100%)
	background-image: linear-gradient(65deg, #050714 0%, rgba(14, 22, 69, 0.75) 100%)
	@media screen and (max-width: 540px)
		padding-bottom 115px
		padding-top 48px
	@media screen and (max-width: 480px)
		background-image: -webkit-linear-gradient(320deg, #0e1645 0%, #050714 100%)
		background-image: -o-linear-gradient(320deg, #0e1645 0%, #050714 100%)
		background-image: linear-gradient(50deg, #0e1645 0%, #050714 100%)
	
	.container
		position relative
	
	.button.button-range
		@media screen and (max-width: 480px)
			min-height 40px
			font-size 14px
			padding-top 11px
			padding-bottom 13px
			width 100%
			margin-top 30px


.bg--from-shop
	position absolute
	height 100%
	width 100%
	top 0
	left 0
	@media screen and (max-width: 480px)
		display none
	.container-full
		position relative
		max-width 1440px
		height 100%
		margin 0 auto
	
	.icon-fromshop1
		position absolute
		left -208px
		top -143px
	
	.icon-fromshop2
		position absolute
		bottom 30px
		left 10px
	
	.icon-fromshop4
		position absolute
		bottom 114px
		right 44px

.from-shop--wrap
	display flex
	flex-direction row
	flex-wrap wrap
	@media screen and (max-width: 720px)
		flex-direction column
	
	.from-shop--items
		width calc(100% / 2)
		@media screen and (max-width: 720px)
			width 100%

.heading-green
	color: #ffffff
	font-family: fPSB
	font-size: 89px
	line-height: 101px
	@media screen and (max-width: 1200px)
		font-size 62px
		line-height 64px
	@media screen and (max-width: 540px)
		font-size 48px
		margin-bottom 58px
		
	span
		position relative
		display inline-block
		color: #59ff00
		&:before
			position absolute
			left 0
			bottom -44px
			content ''
			width 100%
			height 6px
			background: #59ff00
			@media screen and (max-width: 1200px)
				bottom -15px
				height 4px
			@media screen and (max-width: 540px)
				height 3px
				bottom -7px

.from-shop--text
	max-width 505px
	margin-left auto
	p
		color: rgba(255, 255, 255, 0.99)
		font-family: fPSL
		font-size: 23px
		line-height: 30px
		@media screen and (max-width: 540px)
			font-size: 19px
			line-height: 30px
	
	.button.button-range
		margin-top 44px


.section-shop--block
	padding-bottom 140px
	.shop-heading--center
		max-width 700px
		margin-left auto
		margin-right auto