section.article-footer
	.container.container-small
		.heading-article
			h3 More Articles
		.blog-wrapper
			.blog-col
				a(href="#").blog-items
					.blog-items--img.img-center--height
						img(src="img/blog-post/blog_image_1.jpg", alt="")
					.blog-items--info
						p.name-blogPost The Ultimate Game Changers
						span.date-blogPost on Jun 24, 2019
			.blog-col
				a(href="#").blog-items
					.blog-items--img.img-center--height
						img(src="img/blog-post/blog_image_2.jpg", alt="")
					.blog-items--info
						p.name-blogPost Free Shiping for US Customers
						span.date-blogPost on Jun 24, 2019
			.blog-col
				a(href="#").blog-items
					.blog-items--img.img-center--height
						img(src="img/blog-post/blog_image_3.jpg", alt="")
					.blog-items--info
						p.name-blogPost VR Customizations coming soon
						span.date-blogPost on Jun 24, 2019