section.blog-footer
	.container
		.blog-foot--description
			h3 Blog
			p Find out what we are up to. 
			a(href="#").go-blog GO TO BLOG
		.blog-foot--post
			.foot-items
				a(href="#").foot-post
					.foot-post--img
						img(src="img/blog-post/blog_image_1.jpg", alt="")
					.foot-post--contents
						p The Ultimate Game Changers
						span.date-post on Jun 24, 2019
			.foot-items
				a(href="#").foot-post
					.foot-post--img
						img(src="img/blog-post/blog_image_2.jpg", alt="")
					.foot-post--contents
						p The Ultimate Game Changers
						span.date-post on Jun 24, 2019
			.foot-items
				a(href="#").foot-post
					.foot-post--img
						img(src="img/blog-post/blog_image_3.jpg", alt="")
					.foot-post--contents
						p The Ultimate Game Changers
						span.date-post on Jun 24, 2019