fLight = 300
fRegular = 400
fMedium = 500
fBold = 700 
fBlack = 900

cWhite = #ffffff
cBlack = #333333

cPink = #f3495e

cBlueDark = #3158d3
cBlueLight = #5077f1

fANR = "AvenirNext-Regular"
fANB = "AvenirNextCyr-Bold"
fAND = "AvenirNextCyr-Demi"
fAH = "Avenir-Heavy"
fANM = "AvenirNextCyr-Medium"
fABo = "Avenir-Book"
fMR = "Montserrat-Regular"
fABl = "Avenir-Black"
fBl = "Balaram"
fBD = "BaforaDemo"
fPSBl = "ProductSans-Black"
fPSB = "ProductSans-Bold"
fPSL = "ProductSans-Light"
fPSM = "ProductSans-Medium"
fPSR = "ProductSans-Regular"
fPST = "ProductSans-Thin"


@font-face
	font-family: 'AvenirNext-Regular'
	font-weight: normal
	font-style: normal
	src: url("../fonts/AvenirNext-Regular/AvenirNext-Regular.eot")
	src: url("../fonts/AvenirNext-Regular/AvenirNext-Regular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/AvenirNext-Regular/AvenirNext-Regular.woff") format("woff"),
	url("../fonts/AvenirNext-Regular/AvenirNext-Regular.ttf") format("truetype")

@font-face
	font-family: 'AvenirNextCyr-Bold'
	font-weight: normal
	font-style: normal
	src: url("../fonts/AvenirNextCyr-Bold/AvenirNextCyr-Bold.eot")
	src: url("../fonts/AvenirNextCyr-Bold/AvenirNextCyr-Bold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/AvenirNextCyr-Bold/AvenirNextCyr-Bold.woff") format("woff"),
	url("../fonts/AvenirNextCyr-Bold/AvenirNextCyr-Bold.ttf") format("truetype")

@font-face
	font-family: 'Avenir-Book'
	font-weight: normal
	font-style: normal
	src: url("../fonts/Avenir-Book/Avenir-Book.eot")
	src: url("../fonts/Avenir-Book/Avenir-Book.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Avenir-Book/Avenir-Book.woff") format("woff"),
	url("../fonts/Avenir-Book/Avenir-Book.ttf") format("truetype")

@font-face
	font-family: 'Avenir-Heavy'
	font-weight: normal
	font-style: normal
	src: url("../fonts/Avenir-Heavy/Avenir-Heavy.eot")
	src: url("../fonts/Avenir-Heavy/Avenir-Heavy.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Avenir-Heavy/Avenir-Heavy.woff") format("woff"),
	url("../fonts/Avenir-Heavy/Avenir-Heavy.ttf") format("truetype")

@font-face
	font-family: 'AvenirNextCyr-Medium'
	font-weight: normal
	font-style: normal
	src: url("../fonts/AvenirNextCyr-Medium/AvenirNextCyr-Medium.eot")
	src: url("../fonts/AvenirNextCyr-Medium/AvenirNextCyr-Medium.eot?#iefix")format("embedded-opentype"),
	url("../fonts/AvenirNextCyr-Medium/AvenirNextCyr-Medium.woff") format("woff"),
	url("../fonts/AvenirNextCyr-Medium/AvenirNextCyr-Medium.ttf") format("truetype")

@font-face
	font-family: 'AvenirNextCyr-Demi'
	font-weight: normal
	font-style: normal
	src: url("../fonts/AvenirNextCyr-Demi/AvenirNextCyr-Demi.eot")
	src: url("../fonts/AvenirNextCyr-Demi/AvenirNextCyr-Demi.eot?#iefix")format("embedded-opentype"),
	url("../fonts/AvenirNextCyr-Demi/AvenirNextCyr-Demi.woff") format("woff"),
	url("../fonts/AvenirNextCyr-Demi/AvenirNextCyr-Demi.ttf") format("truetype")

@font-face
	font-family: 'Avenir-Black'
	font-weight: normal
	font-style: normal
	src: url("../fonts/Avenir-Black/Avenir-Black.eot")
	src: url("../fonts/Avenir-Black/Avenir-Black.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Avenir-Black/Avenir-Black.woff") format("woff"),
	url("../fonts/Avenir-Black/Avenir-Black.ttf") format("truetype")

@font-face
	font-family: 'Montserrat-Regular'
	font-weight: normal
	font-style: normal
	src: url("../fonts/Montserrat-Regular/Montserrat-Regular.eot")
	src: url("../fonts/Montserrat-Regular/Montserrat-Regular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Montserrat-Regular/Montserrat-Regular.woff") format("woff"),
	url("../fonts/Montserrat-Regular/Montserrat-Regular.ttf") format("truetype")

// @font-face
// 	font-family: 'Balaram'
// 	font-weight: normal
// 	font-style: normal
// 	src: url("../fonts/Balaram/Balaram.eot")
// 	src: url("../fonts/Balaram/Balaram.eot?#iefix")format("embedded-opentype"),
// 	url("../fonts/Balaram/Balaram.woff") format("woff"),
// 	url("../fonts/Balaram/Balaram.ttf") format("truetype")

@font-face
	font-family: 'BaforaDemo'
	font-weight: normal
	font-style: normal
	src: url("../fonts/BaforaDemo/BaforaDemo.eot")
	src: url("../fonts/BaforaDemo/BaforaDemo.eot?#iefix")format("embedded-opentype"),
	url("../fonts/BaforaDemo/BaforaDemo.woff") format("woff"),
	url("../fonts/BaforaDemo/BaforaDemo.ttf") format("truetype")

@font-face
	font-family: 'ProductSans-Black'
	font-weight: normal
	font-style: normal
	src: url("../fonts/ProductSans-Black/ProductSans-Black.eot")
	src: url("../fonts/ProductSans-Black/ProductSans-Black.eot?#iefix")format("embedded-opentype"),
	url("../fonts/ProductSans-Black/ProductSans-Black.woff") format("woff"),
	url("../fonts/ProductSans-Black/ProductSans-Black.ttf") format("truetype")

@font-face
	font-family: 'ProductSans-Bold'
	font-weight: normal
	font-style: normal
	src: url("../fonts/ProductSans-Bold/ProductSans-Bold.eot")
	src: url("../fonts/ProductSans-Bold/ProductSans-Bold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/ProductSans-Bold/ProductSans-Bold.woff") format("woff"),
	url("../fonts/ProductSans-Bold/ProductSans-Bold.ttf") format("truetype")

@font-face
	font-family: 'ProductSans-Light'
	font-weight: normal
	font-style: normal
	src: url("../fonts/ProductSans-Light/ProductSans-Light.eot")
	src: url("../fonts/ProductSans-Light/ProductSans-Light.eot?#iefix")format("embedded-opentype"),
	url("../fonts/ProductSans-Light/ProductSans-Light.woff") format("woff"),
	url("../fonts/ProductSans-Light/ProductSans-Light.ttf") format("truetype")

@font-face
	font-family: 'ProductSans-Medium'
	font-weight: normal
	font-style: normal
	src: url("../fonts/ProductSans-Medium/ProductSans-Medium.eot")
	src: url("../fonts/ProductSans-Medium/ProductSans-Medium.eot?#iefix")format("embedded-opentype"),
	url("../fonts/ProductSans-Medium/ProductSans-Medium.woff") format("woff"),
	url("../fonts/ProductSans-Medium/ProductSans-Medium.ttf") format("truetype")

@font-face
	font-family: 'ProductSans-Regular'
	font-weight: normal
	font-style: normal
	src: url("../fonts/ProductSans-Regular/ProductSans-Regular.eot")
	src: url("../fonts/ProductSans-Regular/ProductSans-Regular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/ProductSans-Regular/ProductSans-Regular.woff") format("woff"),
	url("../fonts/ProductSans-Regular/ProductSans-Regular.ttf") format("truetype")

@font-face
	font-family: 'ProductSans-Thin'
	font-weight: normal
	font-style: normal
	src: url("../fonts/ProductSans-Thin/ProductSans-Thin.eot")
	src: url("../fonts/ProductSans-Thin/ProductSans-Thin.eot?#iefix")format("embedded-opentype"),
	url("../fonts/ProductSans-Thin/ProductSans-Thin.woff") format("woff"),
	url("../fonts/ProductSans-Thin/ProductSans-Thin.ttf") format("truetype")

body
html
	// font-family fPoppinsMedium
	// c cBlack