.button
	display inline-block
	text-align center
	text-decoration none
	cursor pointer
	border none
	user-select none
	trn(.15s)
	
	&.button-send
		color: #000000
		font-family: fPSM
		font-size: 15px
		letter-spacing: 0.32px
		border-radius: 4px
		background-color: #26d13d
		padding 12px 30px 11px
		trn(.2s)
		&:hover
			color #fff
	
	&.button-green
		min-height: 49px
		background: #8eff13
		padding-left 37px
		padding-right 37px
		color: #000000
		font-family: fPSBl
		font-size: 19px
		line-height 46px
		@media screen and (max-width: 600px)
			min-height: 42px
			border-radius: 3px
			line-height 40px
			font-size 16px
	
	&.button-greenBig
		min-height: 52px
		text-transform uppercase
		background: #8eff13
		padding-left 37px
		padding-right 37px
		color: #000000
		font-family: fPSBl
		font-size: 16px
		padding-top 17px
		padding-bottom 17px
		@media screen and (max-width: 600px)
			min-width 100%
			min-height 40px
			font-size 14px
			border-radius: 4px
	
	&.champs-button
		min-width: 387px
		min-height: 52px
		border-radius: 4px
		background-color: #8eff13
		font-family: fPSB
		font-size: 16px
		color: #000000
		padding: 17px 20px
		@media screen and (max-width: 600px)
			min-width 100%
			min-height 40px
			font-size 14px

	&.button-contact
		border-radius 20px
		min-height 38px
		color: #000000
		font-family: fPSB
		font-size: 13px
		line-height: 36px
		background: cWhite
		padding 0 24px
	
	&.button-range
		min-height 52px
		padding 16px 24px
		border-radius: 3px
		background-color: #8eff13
		color: #000000
		font-family: fPSB
		font-size: 16px
		text-transform: uppercase
	
	&.button-table
		color: #ffffff
		font-family: fPSBl
		font-size: 16px
		border-radius: 3px
		background-color: #131630
		padding 10px 19px
		trn(.2s)
		&:hover
			background: #26d13d
	
	&.button-send--white
		border-radius: 3px
		background-color: #26d13d
		color: #ffffff
		font-family: fPSBl
		font-size: 16px
		padding 12px 30px 11px
	
	&.by-now
		color: #000000
		font-family: fPSBl
		font-size: 14px
		letter-spacing: 0.3px
		text-transform: uppercase
		padding 13px 34px 12px
		border-radius: 3px
		background-color: #8eff13
	
	&.button-review
		border-radius: 4px
		border: 1px solid rgba(218, 221, 245, 0.18)
		color: #ffffff
		font-family: fPSM
		font-size: 15px
		letter-spacing: 0.32px
		padding 12px 24px
		trn(.15s)
		&:hover
			background: rgba(218, 221, 245, 0.18)
	
	&.button-download
		position relative
		align-items center
		min-height 42px
		border-radius 4px
		background-color #8eff13
		color #000000 !important
		padding 5px 16px
		font-family fPSM
		font-size 15px
		letter-spacing 0.32px
		
		.icon-download
			margin-right 14px
		
		.icon-text
			margin-right 20px
	
	&.button-checkout
		min-height 52px
		width 100%
		border-radius 3px
		background-color #26d13d
		color #ffffff
		font-family fANB
		font-size 17px
		text-transform uppercase
	
	&.button-add
		min-height 34px
		color #000000
		font-family fPSBl
		font-size 13px
		text-transform uppercase
		border-radius 3px
		background-color #f8f8f8
		padding 10px 12px
	
	&.button-popup
		min-height 52px
		width 100%
		border-radius 2px
		background-color #26d13d
		color #ffffff
		font-family fPSBl
		font-size 18px
		