.button
	display inline-block
	text-align center
	text-decoration none
	cursor pointer
	border none
	user-select none
	trn(.15s)
	
	&.button-green
		min-height: 49px
		background: #8eff13
		padding-left 37px
		padding-right 37px
		color: #000000
		font-family: fPSBl
		font-size: 19px
		line-height 46px
		@media screen and (max-width: 600px)
			min-height: 42px
			border-radius: 3px
			line-height 40px
			font-size 16px
	
	&.button-greenBig
		min-height: 52px
		text-transform uppercase
		background: #8eff13
		padding-left 37px
		padding-right 37px
		color: #000000
		font-family: fPSBl
		font-size: 16px
		padding-top 17px
		padding-bottom 17px
		@media screen and (max-width: 600px)
			min-width 100%
			min-height 40px
			font-size 14px
			border-radius: 4px
	
	&.champs-button
		min-width: 387px
		min-height: 52px
		border-radius: 4px
		background-color: #8eff13
		font-family: fPSB
		font-size: 16px
		color: #000000
		padding: 17px 20px
		@media screen and (max-width: 600px)
			min-width 100%
			min-height 40px
			font-size 14px

	&.button-contact
		border-radius 20px
		min-height 38px
		color: #000000
		font-family: fPSB
		font-size: 13px
		line-height: 36px
		background: cWhite
		padding 0 24px