extends layout.pug

block variabl
	- var title = "My account"
	- var pagecurent = "account"
	- var showreturn = false
	- var showPost = false
	- var showArticle = false
	- var containerSmall = true
	- var cart = true

block header
	include include/header

block main
	main.section_main

		section.section-account

			.bg-triangle
				.container
					img(src="img/blog_shape.svg", alt="")

			.container-small
				.accoun-wrapper
					.default-heading
						h3 My Accout

					.points-account
						p.points-name Your Points
						p.points-price 2000

					.tab-container.tab-wrapper
						ul.tab-link.tab-list
							li My Orders
							li Earn More Points
							li Earn More Points 2
							li Account Settings
						.tab-hidde.tab-pane
							.pane
								include include/my-account/table

							.pane
								.points-one
									.points-one--wrap
										.points-one--items
											h4 Be Social
											span Earn
											p.price-point 4000 Points
											.social-link
												ul
													li
														a(href="#")
															+iconSvg('543', '543', '0 0 543 543', 'icon-twitter')
													li
														a(href="#")
															+iconSvg('96', '96', '0 0 96 96', 'icon-facebook')
													li
														a(href="#")
															+iconSvg('169', '169', '0 0 169 169', 'icon-inst')
													li
														a(href="#")
															+iconSvg('543', '543', '0 0 543 543', 'icon-github')
										.points-one--items
											h4 Buy a Controller
											span Earn
											p.price-point 4000 Points
											.done
												+iconSvg('24', '20', '0 0 24 20', 'icon-checked')
												| Done
										.points-one--items
											h4 Leave a Comment
											span Earn
											p.price-point 4000 Points
											a(href="#").button.button-send--white Write Comment
										.points-one--items
											h4 Refer to friend
											span Earn
											p.price-point 4000 Points
											a(href="#refer-popup").popup.button.button-send--white Refer

							.pane
								.points-two
									.points-two--wrap
										.points-col
											.points-two--items
												.checked-status.is-active
												h4 Be Social
												span Earn
												p.price-point 4000 Points
										.points-col
											.points-two--items
												.checked-status
												h4 Buy a Controller
												span Earn
												p.price-point 30 Points
												a(href="#").button.button-send--white Shop
										.points-col
											.points-two--items
												.checked-status
												h4 Leave a Comment
												span Earn
												p.price-point 30 Points
												a(href="#").button.button-send--white Write Comment
										.points-col
											.points-two--items
												.checked-status
												h4 Refer to friend
												span Earn
												p.price-point 20 Points
												a(href="#refer-popup").popup.button.button-send--white Refer

							.pane
								.account-seting
									form
										.form-items
											label First name #[span *]
											input(type="text")
										.form-items
											label Last name #[span *]
											input(type="text")
										.form-items
											label Email address #[span *]
											input(type="text")
										.form-items
											label Current password #[span (leave blank to leave unchanged)]
											input(type="text")
										.form-items
											label New password #[span (leave blank to leave unchanged)]
											input(type="text")
										.form-items
											label Confirm new password
											input(type="text")
										.form-col-button.text-right
											button.button.button-send--white Save Changes


block footer
	include include/footer