extends layout.pug

block variabl
	- var title = "Checkout"
	- var pagecurent = "checkout"
	- var showreturn = false
	- var showPost = false
	- var showArticle = false
	- var containerSmall = true
	- var cart = false

block header
	include include/header

block main
	main.section_main

		section.checkout-section
			
			.checkout-heading
				.container-small
					ul.heading-load
						li
							a(href="#").is-ckecked
								span.icon-check
								| CART
						li
							a(href="#").is-ckecked
								span.icon-check
								| SHIPPING
						li
							a(href="#").is-active
								span.icon-check
								| PAYMENT

			.container-small
				.checkout-main.step-three
					.checkout-col
						.payment-wrapper
							.payment-item

								label.check-payment
									input( type="radio" name="radio" checked)
									.check-payment--info
										.check-payment--head
											.payment--heading
												p
													span.icon-payment
													| Credit Card
												img(src="img/icon/rard-icon.png", alt="")
											p.checkout-descript Safe money transfer using your bank account. Visa, Maestro, Discover, American Express.
										.check-payment--form
											.form-items--black
												label CARD NUMBER
												.icon-payment
													.icon--input-right
														+iconSvg('22', '18', '0 0 22 18', 'icon-card')
													input(type="text" value="5555 0000 2222 0101")
											.form-items--card
												.form-items--black
													label NAME ON CARD
													input(type="text")
												.form-items--black.form-items--small
													label EXPIRY DATE
													input(type="text" placeholder="MM/YY")
												.form-items--black.form-items--small
													label CVV CODE
													input(type="text")

								label.check-payment
									input( type="radio" name="radio")
									.check-payment--info
										.check-payment--head
											.payment--heading
												p
													span.icon-payment
													| PayPal
												img(src="img/icon/paypal.png", alt="")
											p.checkout-descript You will be redirected to PayPal website to complete your purchase securely.					
					.checkout-col
						.checkout-items
							.product-checkout--wrapper.product-checkout--total
								.product-checkout--item
									a(href="#").product-checkout--img.img-center--width
										img(src="img/product/controller-product.png", alt="")
									.product-checkout--text
										a(href="#").name Yellow Demon
										span.price € 99.90
										p View Detials
										.qty-input.product-checkout--counter
											i.less
											input(type="text" value="3")
											i.more
										a(href="#").delete-product Remove
											+iconSvg('13', '12', '0 0 13 12', 'icon-close2')

								.product-checkout--item
									a(href="#").product-checkout--img.img-center--width
										img(src="img/product/controller-product.png", alt="")
									.product-checkout--text
										a(href="#").name Yellow Demon
										span.price € 99.90
										p View Detials
										.qty-input.product-checkout--counter
											i.less
											input(type="text" value="3")
											i.more
										a(href="#").delete-product Remove
											+iconSvg('13', '12', '0 0 13 12', 'icon-close2')
								
							.product-sum
								.product-sum--item
									p Subtotal
									span $200
								.product-sum--item
									p TOTAL
									span $200
								.form-items--wrap
									.col-fifty
										p Promo Code
									.col-fifty
										input(type="text" placeholder="Paste code here").input-sum
				
							button.button.button-checkout PURCHASE

block footer
	include include/footer