include ../libs/bemto/bemto.pug

block variabl

include include/_mixin

doctype html
html(lang="en")
	block head
		head
			title= title

			meta(http-equiv="content-type", content="text/html; charset=UTF-8")
			meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
			meta(name='format-detection', content='telephone=no')
			link(rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon")
			link(rel="shortcut icon" href="img/favicon/apple-touch-icon.png" type="image/x-icon")
			link(rel="shortcut icon" href="img/favicon/apple-touch-icon-72x72.png" type="image/x-icon")
			link(rel="shortcut icon" href="img/favicon/apple-touch-icon-144x144.png" type="image/x-icon")

			link(rel="stylesheet", href="css/index.css")

			meta(name="theme-color", content="#5D1324")
			meta(name="msapplication-navbutton-color", content="#5D1324")
			meta(name="apple-mobile-web-app-status-bar-style", content="#5D1324")

	body
		//- div#overlayer

		block mobileMenu

		block header

		//- #barba-wrapper
			.barba-container
		
		block main
		
		block footer

		.hidden

			.popup-default.zoom-anim-dialog#login-popup
				.popup-default--heading
					h3 Login
					.height-50
				form
					.form-items
						label EMAIL
						input(type="text" value="mynada.mail@gmail.com")
					.form-items
						label PASSWORD
						input(type="text")
						a(href="#").link-popup FORGOT PASSWORD ?
					.form-items
						button.button.button-popup Create Account

			.popup-default.zoom-anim-dialog#refer-popup
				.popup-default--heading
					h3 Refer to friends
					.height-50
				form
					.form-items
						label Enter friends email
						input(type="text" value="mynada.mail@gmail.com")
					.form-items
						button.button.button-popup SEND

			.popup-default.bg-dark.zoom-anim-dialog#comment-popup
				.popup-default--heading
					h3 Your Comment
				form
					.form-items
						label YOUR NAME
						input(type="text" value="Danny Brown")
					.form-items
						label GAME YOU PLAY
						input(type="text")
					.form-items
						label COMMENT
						textarea
					.form-items.form-items--star
						label HOW WOULD YOU RATE CONTROLLER:
						.rating-gefault.rating-big
							span.rating-star
								+iconSvg('15', '15', '0 0 15 15', 'icon-star1')
								+iconSvg('16', '15', '0 0 16 15', 'icon-star2')
							span.rating-star
								+iconSvg('15', '15', '0 0 15 15', 'icon-star1')
								+iconSvg('16', '15', '0 0 16 15', 'icon-star2')
							span.rating-star
								+iconSvg('15', '15', '0 0 15 15', 'icon-star1')
								+iconSvg('16', '15', '0 0 16 15', 'icon-star2')
							span.rating-star.is-active
								+iconSvg('15', '15', '0 0 15 15', 'icon-star1')
								+iconSvg('16', '15', '0 0 16 15', 'icon-star2')
							span.rating-star
								+iconSvg('15', '15', '0 0 15 15', 'icon-star1')
								+iconSvg('16', '15', '0 0 16 15', 'icon-star2')

					.form-items
						button.button.button-popup SEND

			.popup-green.zoom-anim-dialog#signup-popup
				.popup-default--heading
					h3 Refer to friends
					.height-50
				form
					.form-items
						label EMAIL
						input(type="text" value="mynada.mail@gmail.com")
					.form-items--wrap
						.col-fifty
							.form-items
								label FIRST NAME
								input(type="text")
						.col-fifty
							.form-items
								label LAST NAME
								input(type="text")

					.form-items
						label PASSWORD
						input(type="text")

					.form-items
						label REPEAT PASSWORD
						input(type="text")

					.form-items
						button.button.button-popup Create Account

			.popup-green.popup-thanks.zoom-anim-dialog#thanks-popup
				.heading-thanks
					img(src="img/star-thanks.png", alt="")
					h3 Thanks
					span Create account to
				
				.wrapp-checked
					.item-checked
						.item-checked--img
							+iconSvg('24', '20', '0 0 24 20', 'icon-checked')
						.item-checked--text
							h4 Track Order
							p Receive updates
					.item-checked
						.item-checked--img
							+iconSvg('24', '20', '0 0 24 20', 'icon-checked')
						.item-checked--text
							h4 Earn Rewards
							p points make something
					.item-checked
						.item-checked--img
							+iconSvg('24', '20', '0 0 24 20', 'icon-checked')
						.item-checked--text
							h4 Collect #[span 30 Points]
							p and use for future purchases 

					.form-items
						button.button.button-popup Create Account
						a(href="#").no-thanks No, Thanks



		block scripts
			// script(src='https://unpkg.com/flipping@latest/dist/flipping.web.js')
			// script(src='/js/shape-overlays.js')
			
			script(src='js/scripts.js')