footer.footer
	include module/blog-footer
	.container
		.footer-menu
			.footer-menu--items
				h5 Controllers
				ul
					li
						a(href="#") Gold Series
					li
						a(href="#") Elite Pro Series
					li
						a(href="#") Chrome
					li
						a(href="#") Pattern
			.footer-menu--items
				h5 Customer
				ul
					li
						a(href="#") Returns
					li
						a(href="#") Send in Service
					li
						a(href="#") My Account

			.footer-menu--items
				h5 Resources
				ul
					li
						a(href="#") Terms & Conditions
					li
						a(href="#") Blog

			.footer-menu--items
				h5 Stay Connected
				ul
					li
						a(href="#") Facebook
					li
						a(href="#") Twitter
					li
						a(href="#") Instagram
					li
						a(href="#") Linkedin
		.footer-contact
			h4 Get in touch 
			p Here to help you 24/7
			a(href="#").button.button-contact Contact Us