.top-line
	.logo-wrapper
		a(href="#").logo-link
			img(src="img/logo.png", alt="")

	.top-line--left
		
		nav.menu-wrapper
			ul
				li
					a(href="#") ELITE PRO
				li
					a(href="#") DYI MODS
				li
					a(href="#") ALL CONTROLLERS
				li
					a(href="#")
						+iconSvg('20', '20', '0 0 20 20', 'icon-pallete')
						| CUSTOM BUILD
	
		.user-block
			ul
				if cart
					li.card-view
						a(href="#")
							+iconSvg('16', '19', '0 0 16 19', 'icon-cart')
							span.count-cart 2
						.hidden-cart
							.cart-head--items
								.cart-head--items-img
									a(href="#")
										img(src="img/game-mini1.png", alt="")
								.cart-head--items-text
									h4
										a(href="#") Yellow Demon
									p.cart-head--price € 99.90
							.cart-head--items
								.cart-head--items-img
									a(href="#")
										img(src="img/game-mini2.png", alt="")
								.cart-head--items-text
									h4
										a(href="#") Yellow Demon
									p.cart-head--price € 99.90
							.cart-head--button
								a(href="#").button.button-cart
									| GO TO CART
									+iconSvg('10', '10', '0 0 10 10', 'icon-arrow-next')
				else
					li
						a(href="#")
							+iconSvg('16', '19', '0 0 16 19', 'icon-cart')

				li.user-list
					a(href="#login-popup").popup
						+iconSvg('18', '18', '0 0 18 18', 'icon-user')

		.burger-default.burger-menu
			span
			span
			span

if showreturn === true
	.return-top
		p.return-top--heading FREE RETURNS
		p Return whatever you don't love within 30 days. #[a(href="#") Learn more]

		a(href="#").close-return
			+iconSvg('13', '13', '0 0 13 13', 'icon-close')
